@font-face {
	font-family: 'apercu-regular';
	src: url('/fonts/apercu-regular.otf') format('opentype');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'apercu-light';
	src: url('/fonts/apercu-light.otf') format('opentype');
	font-display: swap;
	font-weight: 300;
}